{% extends "layout.html" %}

{% block title %} Index {% endblock %}

{% block main %}

<div class="spacePageBorder">
<div class="index-title">
    <h1 class="h1-index">About this site</h1>
</div>


<div class="div-box">
    <h3 class="h3-index">What is this</h3>
    <p class="p-index">
        Welcome to my data solutions website. Throughout this website I am sharing solutions for gathering and
        formatting data that I have used in the past.
    </p>
</div>
<br/>

<div class="div-box">
    <h3 class="h3-index">Background</h3>
    <p class="p-index">I am learning Python and html to expand my problem-solving
        toolbox. As my toolbox grows, so will this site.
    </p>
</div>
<br/>

<div class="div-box">
    <h3 class="h3-index">Goal</h3>
    <p class="p-index">
        Leave this rock little better than I found it.<br/><br/>A concept that I keep going back to when thinking about
        my goal is the production-possibility frontier framework from economics. I want to make an impact that will move
        the frontier of production possibilities for humanity outward. Here's the concept using two resources
        fundamental to sustaining humanity.<br/>
        <img class="img-index" ; height=300px;
             src="\static\index\productionPossibilityFrontierChart20200930.PNG"
             alt="Uh-oh chart is lost"/>
        More about <a href="https://en.wikipedia.org/wiki/Production%E2%80%93possibility_frontier">Production
        Possibility
        Frontier</a> framework. <br/>

    </p>
</div>

<br/>



<div class="div-box">

    <h3 class="h3-index">Contact</h3>

    <p class="p-index">
        Email: nrodrig1@gmail.com <br/>
        LinkedIn: <a href="https://www.linkedin.com/in/nick-rodriguez-0a31a133/">Nick Rodriguez</a><br/>
		GitHub: <a href="https://github.com/costa-rica">costa-rica</a>

    </p>
</div>
</div>
<br/>
<br/>

{% endblock %}